* {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hue: 190;

  --primary-color: hsl(var(--hue), 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);

  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(calc(var(--hue) - 22), 23%, 89%);
  --brand-light-2: hsl(calc(var(--hue) + 10), 23%, 89%);

  --brand-dark: hsl(var(hue), 100%, 14%);

  --bg-light: hsl(180, 14%, 97%);

  font-size: 62.5%; /*1 rem = 10rem */

  --nav-height: 7.2rem;
}

@media screen and (max-width: 875px) {
  .imagem {
    display: none;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin-top: 5rem;
}

body {
  background-color: #fafafa;
  text-align: center;
  overflow: overlay;
}

.logar {
  display: flex;
  width: 35rem;
  height: 39.2rem;
  flex-direction: column;
  align-items: center;
  border: 0.1rem solid #dbdbdb;
  background-color: #fff;

  margin-bottom: 1rem;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; /*Desailita o scroll*/
}

.title {
  margin-top: 2rem;
}

.navega {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user {
  box-shadow: none;
  border: none;
  outline: 0;
  font-size: 1rem;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1rem;

  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;
  margin-bottom: 1rem;

  background-color: #fafafa;

  padding: 0.5rem 0rem 0rem 1rem;
}

.user,
.senha {
  margin-bottom: 0.5rem;
}

.acesso {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  margin-top: 2.4rem;
}

.senha {
  width: min(112rem, 100%);
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-areas: 'A B' 'C C';

  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;

  margin-bottom: 1rem;
}

.exibe-senha {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 500;
}

#mostrar {
  align-self: center;
  justify-content: flex-end;
}

#senha {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-size: 1rem;
  background-color: #fafafa;
  padding: 0.5rem 0rem 0rem 1rem;
}

button {
  border: none;
  appearance: none;
  background: 0;
  display: inline-block;
  padding: 0;
  position: relative;

  margin-bottom: 1rem;
}

button.entrar {
  background-color: #0095f6;
  color: #ffeefc;
  border: 0;
  border-radius: 0.5rem;
  width: 26.8rem;
  height: 3rem;
}

.acesso span {
  color: #8e8e8e;
}

.ou {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #8e8e8e;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

div.ou::before {
  content: '';
  width: 40%;
  height: 0.1rem;
  background-color: #dbdbdb;

  position: relative;
}

div.ou::after {
  content: '';
  width: 40%;
  height: 0.1rem;
  background-color: #dbdbdb;

  position: relative;
}

span.entrar-com-face {
  color: #385185;
  font-weight: 600;
}

#face {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

#face img {
  max-width: 1.6rem;
  max-height: 1.6rem;
  margin-right: 0.8rem;
}

#esqueceu {
  text-decoration: none;
  color: black;
}

.recupera {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;

  color: #00376b;
  margin-bottom: 2rem;
}

.cadastro {
  width: 35rem;
  height: 6.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.4rem;

  border: 0.1rem solid #dbdbdb;
  background-color: #fff;
  margin-bottom: 3rem;
}

#cadastrar {
  color: #0095f6;
  font-size: 1.4rem;
  font-weight: 500;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

#obtenha {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.app .lojas img {
  width: 13.4rem;
  height: 4rem;
}

.footer {
  display: flex;
  flex-direction: column;
  color: #8e8e8e;
}

.contatos {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  margin-bottom: 1rem;
}

#linkedin a,
#github a {
  color: #8e8e8e;
  text-decoration: none;
}

.descricao {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
}

p a {
  text-decoration: none;
  color: #8e8e8e;
  font-weight: 700;
}

/*========RESPONSIVIDADE========*/
@media (min-width: 875px) {
  body {
    overflow: auto;
  }

  html {
    margin: 0;
  }
  #home {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 3rem;
  }

  .cadastro {
    margin-bottom: 3rem;
  }
}
